{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "DefaultEndpointsProtocol=https;AccountName=eventgrid28a16;AccountKey=lN7xQ/9Atx7DuOe/I8ZSnJrGDb6KQJXvmuZFTVMJxD6F1CEOOf5L3ZDp2uEvvfGUURWVe3D/IwD9+AStaySLrw==;EndpointSuffix=core.windows.net",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "AzureWebJobsDisableHomepage":false,
    "FUNCTIONS_EXTENSION_VERSION": "~4",
    "APPLICATIONINSIGHTS_CONNECTION_STRING": "InstrumentationKey=c15a2189-babb-4591-ae95-8d3fc77edb6a;IngestionEndpoint=https://eastus-8.in.applicationinsights.azure.com/;LiveEndpoint=https://eastus.livediagnostics.monitor.azure.com/;ApplicationId=826f77d1-90d9-44e4-a93f-767d81985212",
    "WEBSITE_CONTENTAZUREFILECONNECTIONSTRING": "DefaultEndpointsProtocol=https;AccountName=eventgrid28a16;AccountKey=lN7xQ/9Atx7DuOe/I8ZSnJrGDb6KQJXvmuZFTVMJxD6F1CEOOf5L3ZDp2uEvvfGUURWVe3D/IwD9+AStaySLrw==;EndpointSuffix=core.windows.net",
    "WEBSITE_RUN_FROM_PACKAGE": "https://eventgrid28a16.blob.core.windows.net/function-releases/20240818233511-07c7f3e8dca2db102ba3ce70b27aafdc.zip?sv=2024-05-04&st=2024-08-18T23%3A30%3A28Z&se=2034-08-18T23%3A35%3A28Z&sr=b&sp=r&sig=4rfgf9d6gMYkVxJ3BykX8F4mtppCW4zR1%2FtifI58ZsE%3D",
    "ServiceBusConnection": "Endpoint=sb://zmchat.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=Tttu7WszRbesr1m0eZsxZlzTvfSxAbNYz+ASbIAFcIs=",
    "SERVER_OTEL_SERVICE_NAME": "FunctionApp:LocalChat",
    "AZURE_STORAGE_ACCOUNT_NAME":"zenmechatlukeresource",
    "AZURE_STORAGE_ACCOUNT_KEY":"VcIbX4hh52LL2aCfaoGpxRRgV1irNs8VB6yOHoceTsFqFfYQpS2s+Y0RtuhsguayFPVRpzA0tzEW+AStHmDgtg==",
    "AZURE_STORAGE_CONTAINER_NAME":"images"
  },
  "Host": {
    "LocalHttpPort": 7075,
    "CORS": "*"
  }
}