name: deployquest5TierProd

on:
    workflow_call:
jobs:
    deployquest5TierProd:
        name: Run deployquest5TierProd
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-pnpm
            - name: print input
              run: echo "deployquest5TierProd"
