name: deployUiDev
on:
    workflow_call:
jobs:
    deployUiDev:
        name: Run deployUiDev
        needs: buildUi, deployRootDev
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Setup pnpm environment
              uses: ./.github/actions/setup-pnpm
