name: Reusable Deploy Environment Workflow
on:
    workflow_call:
        inputs:
            name:
                required: true
                type: string
            folder:
                required: true
                type: string

jobs:
    my-job:
        runs-on: ubuntu-latest
        steps:
            - name: Print Message
              run: echo "Deploying ${{ inputs.name }} from folder ${{ inputs.folder }}"
