name: MainWorkflow

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - workflow

# concurrency:
#   group: deploy-group
#   cancel-in-progress: true

permissions:
  id-token: write
  contents: read
  # security-events: write
  # actions: read

jobs:
  # root pipelines
  buildRoot:
    name: Build Root
    runs-on: ubuntu-latest
    steps:
      - name: Print job name
        run:
          echo "Job name is ${{ github.job }}"

          # - name: Setup pnpm environment
          #   uses: ./.github/actions/setup-pnpm

  deployRootDev:
    name: Deploy Dev Env
    needs: buildRoot
    runs-on: ubuntu-latest
    environment: Dev
    steps:
      - name: Print job name
        run: echo "Job name is ${{ github.job }}"

      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Verify Azure Login
        shell: bash
        run: az account show

  testRootDev:
    name: Test Dev Env
    needs: deployRootDev
    runs-on: ubuntu-latest
    steps:
      - name: Print job name
        run: echo "Job name is ${{ github.job }}"

  deployRootTest:
    name: Deploy Test Env
    needs: testRootDev
    runs-on: ubuntu-latest
    environment: Test
    steps:
      - name: Print job name
        run: echo "Job name is ${{ github.job }}"

  testRootTest:
    name: Test Test Env
    needs: deployRootTest
    runs-on: ubuntu-latest
    steps:
      - name: Print job name
        run: echo "Job name is ${{ github.job }}"

  deployRootProd:
    name: Deploy Prod Env
    needs: testRootTest
    runs-on: ubuntu-latest
    environment: Prod
    steps:
      - name: Print job name
        run: echo "Job name is ${{ github.job }}"

  testRootProd:
    name: Test Prod Env
    needs: deployRootProd
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  # modules pipelines
  buildProfile:
    name: Build Profile
    needs: buildRoot
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  deployProfileDev:
    name: Deploy Profile Dev
    needs:
      - buildProfile
      - deployRootDev
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  testProfileDev:
    name: Test Profile Dev
    needs: deployProfileDev
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  deployProfileTest:
    name: Deploy Profile Test
    needs:
      - testProfileDev
      - deployRootTest
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  testProfileTest:
    name: Test Profile Test
    needs: deployProfileTest
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  deployProfileProd:
    name: Deploy Profile Prod
    needs:
      - testProfileTest
      - deployRootProd
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  testProfileProd:
    name: Test Profile Prod
    needs: deployProfileProd
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  activateDev:
    name: Activate Dev Env
    needs:
      - testRootDev
      - testProfileDev
    runs-on: ubuntu-latest
    environment: Dev
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  activateTest:
    name: Activate Test Env
    needs:
      - testRootTest
      - testProfileTest
    runs-on: ubuntu-latest
    environment: Test
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  activateProd:
    name: Activate Prod Env
    needs:
      - testRootProd
      - testProfileProd
    runs-on: ubuntu-latest
    environment: Prod
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"
