name: MainWorkflow

on:
  workflow_dispatch:
  push:
    branches:
      - main
      - workflow

# concurrency:
#   group: deploy-group
#   cancel-in-progress: true

permissions:
  contents: read
  security-events: write
  actions: read
jobs:
  # root pipelines
  buildRoot:
    name: Build Root
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.result.outputs.result }}
    steps:
      - name: Print job name
        run: echo "Job name is ${{ github.job }}"
      # - name: Checkout code
      #   uses: actions/checkout@v4

      # - name: Setup pnpm environment
      #   uses: ./.github/actions/setup-azure

      - name: Set output
        id: result
        run: echo "result=true" >> $GITHUB_OUTPUT

  deployRootDev:
    name: Deploy Root Dev
    needs: buildRoot
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.result.outputs.result }}
    steps:
      - name: Print job name
        run: echo "Job name is ${{ github.job }}"

  testRootDev:
    name: Test Root Dev
    needs: deployRootDev
    runs-on: ubuntu-latest
    steps:
      - name: Print job name
        run: echo "Job name is ${{ github.job }}"

  deployRootTest:
    name: Deploy Root Test
    needs: testRootDev
    runs-on: ubuntu-latest
    outputs:
      result: ${{ steps.result.outputs.result }}
    steps:
      - name: Print job name
        run: echo "Job name is ${{ github.job }}"

  testRootTest:
    name: Test Root Test
    needs: deployRootTest
    runs-on: ubuntu-latest
    steps:
      - name: Print job name
        run: echo "Job name is ${{ github.job }}"

  deployRootProd:
    name: Deploy Root Prod
    needs: testRootTest
    runs-on: ubuntu-latest
    steps:
      - name: Print job name
        run: echo "Job name is ${{ github.job }}"

  testRootProd:
    name: Test Root Prod
    needs: deployRootProd
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  # modules pipelines
  buildProfile:
    needs: buildRoot
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  deployProfileDev:
    needs: buildProfile
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  testProfileDev:
    needs: deployProfileDev
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  deployProfileTest:
    needs: testProfileDev
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  testProfileTest:
    needs: deployProfileTest
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  deployProfileProd:
    needs: testProfileTest
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"

  testProfileProd:
    needs: deployProfileProd
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Echo job name
        run: echo "Job name is ${{ github.job }}"
