name: MainWorkflow

on:
  workflow_dispatch:
  
concurrency:
  group: deploy-group
  cancel-in-progress: true

jobs:
  buildRoot:
    uses: ./.github/workflows/reusable/buildRoot.yml
  deployRootDev:
    uses: ./.github/workflows/reusable/deployRootDev.yml
  testRootDev:
    uses: ./.github/workflows/reusable/testRootDev.yml
  deployRootTest:
    uses: ./.github/workflows/reusable/deployRootTest.yml
  testRootTest:
    uses: ./.github/workflows/reusable/testRootTest.yml
  deployRootProd:
    uses: ./.github/workflows/reusable/deployRootProd.yml
  testRootProd:
    uses: ./.github/workflows/reusable/testRootProd.yml

  buildprofile:
    uses: ./.github/workflows/reusable/buildprofile.yml
  deployprofileDev:
    uses: ./.github/workflows/reusable/deployprofileDev.yml
  testprofileDev:
    uses: ./.github/workflows/reusable/testprofileDev.yml
  deployprofileTest:
    uses: ./.github/workflows/reusable/deployprofileTest.yml
  testprofileTest:
    uses: ./.github/workflows/reusable/testprofileTest.yml
  deployprofileProd:
    uses: ./.github/workflows/reusable/deployprofileProd.yml
  testprofileProd:
    uses: ./.github/workflows/reusable/testprofileProd.yml
  buildquest3Tier:
    uses: ./.github/workflows/reusable/buildquest3Tier.yml
  deployquest3TierDev:
    uses: ./.github/workflows/reusable/deployquest3TierDev.yml
  testquest3TierDev:
    uses: ./.github/workflows/reusable/testquest3TierDev.yml
  deployquest3TierTest:
    uses: ./.github/workflows/reusable/deployquest3TierTest.yml
  testquest3TierTest:
    uses: ./.github/workflows/reusable/testquest3TierTest.yml
  deployquest3TierProd:
    uses: ./.github/workflows/reusable/deployquest3TierProd.yml
  testquest3TierProd:
    uses: ./.github/workflows/reusable/testquest3TierProd.yml
  buildquest5Tier:
    uses: ./.github/workflows/reusable/buildquest5Tier.yml
  deployquest5TierDev:
    uses: ./.github/workflows/reusable/deployquest5TierDev.yml
  testquest5TierDev:
    uses: ./.github/workflows/reusable/testquest5TierDev.yml
  deployquest5TierTest:
    uses: ./.github/workflows/reusable/deployquest5TierTest.yml
  testquest5TierTest:
    uses: ./.github/workflows/reusable/testquest5TierTest.yml
  deployquest5TierProd:
    uses: ./.github/workflows/reusable/deployquest5TierProd.yml
  testquest5TierProd:
    uses: ./.github/workflows/reusable/testquest5TierProd.yml
  buildquest5TierEg:
    uses: ./.github/workflows/reusable/buildquest5TierEg.yml
  deployquest5TierEgDev:
    uses: ./.github/workflows/reusable/deployquest5TierEgDev.yml
  testquest5TierEgDev:
    uses: ./.github/workflows/reusable/testquest5TierEgDev.yml
  deployquest5TierEgTest:
    uses: ./.github/workflows/reusable/deployquest5TierEgTest.yml
  testquest5TierEgTest:
    uses: ./.github/workflows/reusable/testquest5TierEgTest.yml
  deployquest5TierEgProd:
    uses: ./.github/workflows/reusable/deployquest5TierEgProd.yml
  testquest5TierEgProd:
    uses: ./.github/workflows/reusable/testquest5TierEgProd.yml
  buildUi:
    uses: ./.github/workflows/reusable/buildUi.yml
  deployUiDev:
    uses: ./.github/workflows/reusable/deployUiDev.yml
  testUiDev:
    uses: ./.github/workflows/reusable/testUiDev.yml
  deployUiTest:
    uses: ./.github/workflows/reusable/deployUiTest.yml
  testUiTest:
    uses: ./.github/workflows/reusable/testUiTest.yml
  deployUiProd:
    uses: ./.github/workflows/reusable/deployUiProd.yml
  testUiProd:
    uses: ./.github/workflows/reusable/testUiProd.yml
