name: Deploy

on:
  push:
    branches: ["main"]

concurrency:
  group: deploy-group
  cancel-in-progress: true

jobs:
  call-reusable-workflow:
    strategy:
      matrix:
        environment: [dev, test, production]
        component: [root, module1, module2, ui]
    uses: ./.github/workflows/DeployComponent.yml
    with:
      environment: ${{ matrix.environment }}
      component: ${{ matrix.component }}
