name: modulePipeline

on:
    workflow_call:
        inputs:
            moduleName:
                required: true
                type: string

jobs:
    build:
        uses: ./.github/workflows/buildModule.yml
        with:
            moduleName: ${{ inputs.moduleName }}

    deployDev:
        needs: build
        uses: ./.github/workflows/deployModuleDev.yml
        with:
            moduleName: ${{ inputs.moduleName }}

    testDev:
        needs: deployDev
        uses: ./.github/workflows/testModuleDev.yml
        with:
            moduleName: ${{ inputs.moduleName }}

    deployTest:
        needs: testDev
        uses: ./.github/workflows/deployModuleTest.yml
        with:
            moduleName: ${{ inputs.moduleName }}

    testTest:
        needs: deployTest
        uses: ./.github/workflows/testModuleTest.yml
        with:
            moduleName: ${{ inputs.moduleName }}

    deployProd:
        needs: testTest
        uses: ./.github/workflows/deployModuleProd.yml
        with:
            moduleName: ${{ inputs.moduleName }}

    testProd:
        needs: deployProd
        uses: ./.github/workflows/testModuleProd.yml
        with:
            moduleName: ${{ inputs.moduleName }}
