name: modulePipeline

on:
    workflow_call:

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure

    deployDev:
        name: Deploy Dev
        needs: build
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure

    testDev:
        name: Test Dev
        needs: deployDev
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure

    deployTest:
        name: Deploy Test
        needs: testDev
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure

    testTest:
        name: Test Test
        needs: deployTest
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure

    deployProd:
        name: Deploy Prod
        needs: testTest
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure

    testProd:
        name: Test Prod
        needs: deployProd
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure
