name: rootPipeline

on:
    workflow_call:
        outputs:
            build:
                value: ${{ jobs.export.outputs.build }}
            deployDev:
                value: ${{ jobs.export.outputs.deployDev }}
            deployTest:
                value: ${{ jobs.export.outputs.deployTest }}
            deployProd:
                value: ${{ jobs.export.outputs.deployProd }}

jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        outputs:
            result: ${{ steps.result.outputs.result }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure

            - name: Fail intentionally
              run: |
                  echo "Simulating failure"
                  exit 1
              continue-on-error: true
            - name: Set output
              id: result
              run: echo "result=true" >> $GITHUB_OUTPUT

    deployDev:
        name: Deploy Dev
        needs: build
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        outputs:
            result: ${{ steps.result.outputs.result }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure

            - name: Set output
              id: result
              run: echo "result=true" >> $GITHUB_OUTPUT

    testDev:
        name: Test Dev
        needs: deployDev
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure

    deployTest:
        name: Deploy Test
        needs: testDev
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        outputs:
            result: ${{ steps.result.outputs.result }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure

            # - name: Fail intentionally
            #   run: |
            #       echo "Simulating failure"
            #       exit 1

            - name: Set output
              id: result
              run: echo "result=true" >> $GITHUB_OUTPUT

    testTest:
        name: Test Test
        needs: deployTest
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure

    deployProd:
        name: Deploy Prod
        needs: testTest
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        outputs:
            result: ${{ steps.result.outputs.result }}
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure

            - name: Set output
              id: result
              run: echo "result=true" >> $GITHUB_OUTPUT

    testProd:
        name: Test Prod
        needs: deployProd
        runs-on: ubuntu-latest
        permissions:
            contents: read
            security-events: write
            actions: read
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            # - name: Setup pnpm environment
            #   uses: ./.github/actions/setup-azure
    export:
        runs-on: ubuntu-latest
        needs:
            - build
            - deployDev
            - deployTest
            - deployProd
        if: always()
        outputs:
            build: ${{ needs.build.outputs.result || 'false' }}
            deployDev: ${{ needs.deployDev.outputs.result || 'false' }}
            deployTest: ${{ needs.deployTest.outputs.result || 'false' }}
            deployProd: ${{ needs.deployProd.outputs.result || 'false' }}
        steps:
            - run: |
                  echo "Export results"
                  echo "build=${{ needs.build.outputs.result || 'false' }}" >> $GITHUB_ENV
                  echo "deployDev=${{ needs.deployDev.outputs.result || 'false' }}" >> $GITHUB_ENV
                  echo "deployTest=${{ needs.deployTest.outputs.result || 'false' }}" >> $GITHUB_ENV
                  echo "deployProd=${{ needs.deployProd.outputs.result || 'false' }}" >> $GITHUB_ENV
